Repository coolert/task-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: pint, openapi-validate, postman-json

pint:
  name: Laravel Pint (in Sail)
  language: system
  pass_filenames: true
  entry: bash -lc 'docker compose exec -T -w /var/www/html laravel.test composer lint'

openapi-validate:
  name: OpenAPI validate
  entry: bash -lc "npm run openapi:validate && npm run openapi:lint"
  language: system

postman-json:
  name: Postman JSON check
  entry: bash -lc "npm run postman:check-json && npm run postman:check-vars"
  language: system

chore: remove unused Laravel default resources and cleanup project structure
  package-lock.json
  package.json
  resources/css/app.css
  resources/js/app.js
  resources/js/bootstrap.js
  resources/views/welcome.blade.php
  routes/web.php
  vite.config.js
Due: pint

chore(ci): fix redocly lint missing yaml dependency
  package-lock.json
  package.json
Due: none

docs: extract major sections from README into dedicated docs/ files
  README.md
  docs/api-examples.md
  docs/auth-permissions.md
  docs/design-decisions.md
  docs/domain-models.md
Due: none

docs(readme): remove redundant Environment heading under Setup section
  README.md
Due: none

chore: simplify PR template for cleaner workflow
  .github/pull_request_template.md
Due: none

chore(env+testing): update .env.example, testing config, CI overrides and README
  .env.example
  .env.testing.example
  .github/workflows/ci.yml
  README.md
Due: none

docs: update testing command to use Sail for consistent environment
  README.md
Due: none

docs: add CI status and MIT license badges to README header
  README.md
Due: none

chore(env): add .env.production.example for production deployment
  .env.production.example
Due: none

chore: replace fake() helper in DatabaseSeeder for production compatibility
  database/seeders/DatabaseSeeder.php
Due: pint

chore: restore resources and views directories
  resources/views/.gitkeep
Due: none

ci: add GitHub Actions deploy workflow (manual ssh deployment)
  .github/workflows/deploy.yml
Due: none

docs: add CI/CD pipeline diagram and deployment overview to README; add deployment.md
  README.md
  docs/deployment.md
Due: none

docs: update README introduction and add Tech Highlights section
  README.md
Due: none

docs: update API documentation links, add static OpenAPI file and remove legacy route
  README.md
  public/openapi/openapi.yaml
  public/redoc.html
  public/swagger.html
  routes/web.php
Due: pint

feat(auth): add user registration and health check APIs
  README.md
  app/DTOs/RegisterDTO.php
  app/Http/Controllers/AuthController.php
  app/Http/Controllers/HealthController.php
  app/Http/Requests/RegisterRequest.php
  app/Http/Resources/UserResource.php
  app/Http/Services/AuthService.php
  docs/api-examples.md
  docs/openapi/openapi.yaml
  docs/postman/task_manager_api.postman_collection.json
  public/openapi/openapi.yaml
  routes/api.php
  tests/Feature/Api/AuthApiTest.php
  tests/Feature/Api/HealthCheckTest.php
Due: pint, openapi-validate, postman-json

docs(readme): add Table of Contents and improve documentation layout
  README.md
Due: none

docs(readme): fix setup emoji and correct GitHub anchor references
  README.md
Due: none

Path conditions:
  pint: any of: \.(php)$
  openapi-validate: any of: ^docs/openapi/openapi\.yaml$
  postman-json: any of: ^docs/postman/.*\.json$
